# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual env
.venv/
venv/

# Project specific - exclude non-open-source files
*.xlsx
output/
img/
run.py
